# iso vars
iso_url = "https://releases.ubuntu.com/jammy/ubuntu-22.04-live-server-amd64.iso"
iso_checksum = "file:https://releases.ubuntu.com/jammy/SHA256SUMS"
ssh_public_key = ""
output_directory = ""

# vsphere configuration
vsphere_vcenter_server = ""
vsphere_username = ""
vsphere_password = ""
vsphere_insecure_connection = true
vsphere_datacenter = ""
vsphere_host = ""
vsphere_network = ""
vsphere_folder = ""
vsphere_datastore = ""
